@media only screen and (max-width:7680px){
	.block{display:block;}
	
	html#front #inner_body, html#home #inner_body{}
	
	html#front #inner_body .landing_caption, html#home #inner_body .landing_caption{position: absolute; bottom: 6%;}
	html#front #inner_body .landing_caption h2, html#home #inner_body .landing_caption h2{font-size: 52px;}
}

@media only screen and (max-width:1920px){
}

@media only screen and (max-width:1768px){
}

@media only screen and (max-width:1680px){
}

@media only screen and (max-width:1600px){
	html#front #inner_body .landing_caption, html#home #inner_body .landing_caption{bottom: 18%;}
}

@media only screen and (max-width:1440px){
}

@media only screen and (max-width:1366px){
}

@media only screen and (max-width:1280px){
}

@media only screen and (max-width:1200px){
}

@media only screen and (max-width:1024px){
	html#front #inner_body .landing_caption, html#home #inner_body .landing_caption{bottom: 24%;}
}

@media only screen and (min-width:1024px){
}

@media only screen and (max-width:1023px){
	.block{display: inline;}
}

@media only screen and (max-width:970px){
}

@media only screen and (max-width:870px){
}

@media only screen and (max-width:800px){
}

@media only screen and (max-width:768px){
}

@media only screen and (max-width:767px){
}

@media only screen and (max-width:640px){
}

@media only screen and (max-width:603px){
}

@media only screen and (max-width:600px){
}

@media only screen and (max-width:533px){
}

@media only screen and (max-width:532px){
}

@media only screen and (max-width:414px){
	#main-content.homepage #screen{padding-top:calc(30vh);}
	#main-content.homepage #screen .logo{max-width:72%;}
	#main-content.homepage #screen .blurb{max-width:80%;}
	#main-content.homepage #screen h1{font-size:24px;}
	#main-content.homepage #screen h1::first-line, #main-content.homepage #screen h1::first-line .alt{color:#080E34;}
}

@media only screen and (max-width:375px){
}

@media only screen and (max-width:360px){
}

@media only screen and (max-width:320px){
}

@media only screen and (max-width:240px){
}